#!/usr/bin/env bash
set -e

# Backblaze B2
B2_ACCOUNT="{{ b2.account }}"
B2_KEY="{{ b2.key }}"
B2_BUCKET="{{ b2.bucket }}"

# Things to backup
MASTODON="{{ data_folder }}mastodon/"
SQLFILE="{{ data_folder }}tmp/mastodon.psql"
REDISFILE="{{ data_folder }}redis/dump.rdb"
UPLOADSDIR="${MASTODON}public/system/"
ENVFILE="${MASTODON}.env.production"
MOA="{{ data_folder }}moa/"

# Local vars
REMOTE="storagebox:./backups/libretooth"
DATE=$(date +"%Y.%m.%d-%H%M")
OPTS="-s --progress --compression lzma"
SUFFIX="-libretooth"
export BORG_PASSPHRASE="{{ borg.passphrase }}"

echo "Dump Mastodon's postgres database..."
sudo -u mastodon -H pg_dump -Fc mastodon_production > ${SQLFILE}
echo

echo "Borg Storage Box backup..."
# if we ever want to exclude cache folder from backups
# https://github.com/hometown-fork/hometown/issues/1217#issuecomment-1334033843
# -e "${MASTODON}public/system/cache"
borg create ${OPTS} ${REMOTE}::${DATE}${SUFFIX} ${SQLFILE} ${REDISFILE} ${UPLOADSDIR} ${ENVFILE} ${MOA}
echo

echo "Clean up..."
rm ${SQLFILE}
borg prune --keep-within 30d --stats ${REMOTE}
echo

echo "Push to Backblaze..."
rclone sync --fast-list hetzner:./backups/libretooth backblaze:libreopscc-libretooth -P
rclone cleanup backblaze:libreopscc-libretooth
