#!/usr/bin/env bash
set -e

# Local vars
REMOTE="storagebox:./backups/libretooth"
MOUNT="/mnt/backup/"
export BORG_PASSPHRASE="{{ borg.passphrase }}"

# Make sure mount dirs exists
[ ! -d "${MOUNT}" ] && mkdir -p "${MOUNT}"

# Borg mount
borg mount ${REMOTE} ${MOUNT}

echo "Borg archive mounted at ${MOUNT}"
