#!/bin/bash
echo "Decrypting..."
{{ luks_cmd }}
sleep 2

# Start system services
echo "Starting system services..."
systemctl start redis-server.service
systemctl start postgresql.service
systemctl start nginx.service
sleep 2

# Start mastodon services
echo "Starting mastodon services..."
systemctl start mastodon-web.service mastodon-sidekiq.service mastodon-streaming.service

# Start timers
echo "Starting timers..."
systemctl start certbot.timer mastodon-clean.timer backup.timer

# Start monitoring services
echo "Starting monitoring services..."
systemctl start prometheus-node-exporter
